body {

    font-family:'Cairo', 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.product-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.164);
}

.product-info {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226);    
    /* box -shadow: h-offset v-offsest blur spread  inset or outset    */
    padding: 10px;
    margin: 5px;
}

.product-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    

}

.price strong {
    color: #27ae60;

}

.product-info p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}

.product-info h2 {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #2c3e50;
}